<ion-header class="oscuro">
    <ion-toolbar class="oscuro">
        <p>
            <ion-title class="ion-text-center" style=" font: oblique bold 150% cursive; color:aliceblue;">Buscar Pelicula</ion-title>

            <ion-buttons slot="start">
                <ion-back-button [defaultHref]="['home/', name]" style="color: aliceblue;"></ion-back-button>
                <ion-searchbar [(ngModel)]="peli" animated color="warning" (keyup.enter)="getDepartamentos()"></ion-searchbar>
            </ion-buttons>
        </p>
    </ion-toolbar>
</ion-header>

<ion-content class="oscuro">

</ion-content>